<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <TM_FacebookLB>
            <version>2.0.2</version>
        </TM_FacebookLB>
    </modules>

    <frontend>
        <layout>
            <updates>
                <FacebookLB>
                    <file>FacebookLB.xml</file>
                </FacebookLB>
            </updates>
        </layout>

    </frontend>

    <adminhtml>
        <translate>
            <modules>
                <TM_FacebookLB>
                    <files>
                        <default>TM_FacebookLB.csv</default>
                    </files>
                </TM_FacebookLB>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <facebooklb translate="title" module="facebooklb">
                                            <title>Facebook Like Button</title>
                                        </facebooklb>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

    <global>
        <resources>
            <FacebookLB_setup>
                <setup>
                    <module>TM_FacebookLB</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </FacebookLB_setup>
            <FacebookLB_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </FacebookLB_write>
            <FacebookLB_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </FacebookLB_read>
        </resources>
        <blocks>
            <FacebookLB>
                <class>TM_FacebookLB_Block</class>
            </FacebookLB>
        </blocks>
        <helpers>
            <facebooklb>
                <class>TM_FacebookLB_Helper</class>
            </facebooklb>
        </helpers>
    </global>

    <default>
        <subscriptionchecker>
            <ignored_sections>
                <facebooklb/>
            </ignored_sections>
        </subscriptionchecker>
        <facebooklb>
            <general>
                <enabled>0</enabled>
                <appid></appid>
                <appsecret></appsecret>
                <lang>en_US</lang>
            </general>
            <category_products>
                <enabled>0</enabled>
                <send>0</send>
                <layout>button_count</layout>
                <showfaces>0</showfaces>
                <width>400</width>
                <verb>like</verb>
                <font></font>
                <color>light</color>
            </category_products>
            <productlike>
                <enabled>0</enabled>
                <send>1</send>
                <layout>button_count</layout>
                <showfaces>0</showfaces>
                <width>350</width>
                <verb>like</verb>
                <font></font>
                <color>light</color>
            </productlike>
        </facebooklb>
    </default>
</config>
